<header class="header" id="header">
    <img src="../../assets/img/logo/seres_pensantes_reverse.png" class="logo" width="256px">
    <nav class="navigation">
      <ul class="nav-links">
        <li class="nav-link"><a href="#">Home</a></li>
        <li class="nav-link"><a href="#">Cursos</a></li>
        <li class="nav-link"><a href="#">Professores</a></li>
        <li class="nav-link"><a href="#">Matricule-se</a></li>
      </ul>
    </nav>
    <div class="login">
        <button>
            Entrar <fa-icon [icon]="faSignInAlt" id="enterIcon"></fa-icon>
        </button>
    </div>
  </header>
