<section class="search">
    <div class="search-content">
        <div class="search-text">
            <h1>Cursos de apoio à grade escolar</h1>
            <p>Ensino fundamental, ensino médio, cursos pré-vestibular e muito mais!</p>
            <p>encontre um curso que goste e <a href="">matricule-se JÁ!</a></p>
          </div>
          <div class="search-input">
            <form>
              <input type="text" placeholder="Pesquisa" name="search">
              <button type="submit"><fa-icon [icon]="faSearch" ></fa-icon> </button>
            </form>
          </div>
    </div>
    <div class="img-vector">
        <img src="../../assets/img/vector/home-vector_resized.png">
    </div>
  </section>
